/build/
/parts/
/prime/
/stage/
/snap/*
!/snap/hooks/
*.snap
microk8s_source.tar.bz2
tests/__pycache__
.idea/
**/tests/*.pyc
.vscode/
/installer/**/__pycache__
/installer/dist/
/installer/build/
.vscode/
/installer/**/__pycache__
/installer/dist/
/installer/build/