name: Build MicroK8s snap on PR and push to master

on:
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master

jobs:
  build:
    name: Create snap package
    runs-on: ubuntu-latest

    steps:
    - name: Checking out repo
      uses: actions/checkout@v2
    - name: Install lxd
      run: |
        sudo snap install lxd
        sudo /snap/bin/lxd.migrate -yes
        sudo /snap/bin/lxd waitready
        sudo /snap/bin/lxd init --auto
        sudo usermod --append --groups lxd $USER
    - name: Install snapcraft
      run: sudo snap install snapcraft --classic
    - name: Build snap
      run: |
        sg lxd -c 'snapcraft --use-lxd'
        sudo mv microk8s*.snap microk8s.snap
    - name: Uploading snap
      uses: actions/upload-artifact@v1
      with:
        name: microk8s.snap
        path: microk8s.snap
    - name: Running upgrade path test
      run: |
        set -x
        sudo apt-get install python3-setuptools
        sudo pip3 install --upgrade pip
        sudo pip3 install -U pytest
        sudo -E UPGRADE_MICROK8S_FROM=latest/edge UPGRADE_MICROK8S_TO=`pwd`/`ls microk8s*.snap` pytest -s ./tests/test-upgrade-path.py
        sudo snap remove microk8s --purge
    - name: Running addons tests
      run: |
        set -x
        sudo snap install *.snap --classic --dangerous
        ./tests/smoke-test.sh
        export UNDER_TIME_PRESSURE="True"
        export SKIP_PROMETHEUS="False"
        (cd tests; pytest -s verify-branches.py)
        (cd tests; sudo -E pytest -s -ra test-addons.py)
        sudo microk8s reset
        sudo snap remove microk8s --purge

    - name: Running --help handling tests
      run: |
        set -eux
        sudo snap install *.snap --classic --dangerous
        sudo pip3 install sh
        sudo pytest tests/test-addons.py -k addon_args
        sudo snap remove microk8s --purge

    - name: Running upgrade tests
      run: |
        set -x
        export UNDER_TIME_PRESSURE="True"
        sudo -E UPGRADE_MICROK8S_FROM=latest/edge UPGRADE_MICROK8S_TO=`pwd`/`ls microk8s*.snap` pytest -s ./tests/test-upgrade.py

        
